<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsVf_CcW1A4FHxojAUPhGrKtuXYcIbJKw</string>
	<key>GCM_SENDER_ID</key>
	<string>1056787481426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderProcessingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>order-processing-app-c9127</string>
	<key>STORAGE_BUCKET</key>
	<string>order-processing-app-c9127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056787481426:ios:3af50fe8ce53f619f7f08b</string>
</dict>
</plist>